config.stopBubbling = true

# Globals
lombok.addNullAnnotations = checkerframework
lombok.addLombokGeneratedAnnotation = true

lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.addSuppressWarnings = false

# NonNull
lombok.nonNull.exceptionType = JDK


# GetterSetter
lombok.accessors.chain = true

# ToString
lombok.toString.includeFieldNames = false
